body{
  font-size:14px;
}
#logo {
  display:block;
  margin:0 auto;
  max-width:23em;
  width:100%;	
}
.ui-header h1.ui-title{
  font-size:1.3em;
}
.ui-header h2.ui-title{
  font-size:1.2em;
}
.ui-page{
  position:static;
}
.ui-checkbox .ui-btn{
  z-index:auto;
}
.ui-checkbox input{
  z-index:-1;
}
